# Python
.venv/
venv/
__pycache__/
*.pyc

# Node
node_modules/

# Flutter
.dart_tool/
build/
ios/Pods/
android/.gradle/

# Env & secrets
.env
firebase-credentials.json

# AI generated data
embeddings/
temp_images/
